[
  "datashape==0.5.4",
  "GitPython==3.1.43",
  "matplotlib @ file:///C:/b/abs_085jhivdha/croot/matplotlib-suite_1693812524572/work",
  "matplotlib-inline==0.1.6",
  "mlflow==2.21.2",
  "mlflow-skinny==2.21.2",
  "numpy==1.24.4",
  "numpydoc @ file:///C:/ci_311/numpydoc_1676453412027/work",
  "pandas==2.2.3",
  "psutil==5.9.5",
  "PyLD==2.0.4",
  "python-dotenv @ file:///C:/ci_311/python-dotenv_1676455170580/work",
  "PyYAML @ file:///C:/ci_311/pyyaml_1676432488822/work",
  "pyyaml_env_tag==0.1",
  "rdflib==6.3.2",
  "requests @ file:///C:/b/abs_316c2inijk/croot/requests_1690400295842/work",
  "requests-file @ file:///Users/ktietz/demo/mc3/conda-bld/requests-file_1629455781986/work",
  "requests-toolbelt @ file:///C:/b/abs_2fsmts66wp/croot/requests-toolbelt_1690874051210/work",
  "scikit-learn @ file:///C:/b/abs_55olq_4gzc/croot/scikit-learn_1690978955123/work",
  "scikit-learn-intelex==20230426.121932",
  "seaborn @ file:///C:/ci_311/seaborn_1676446547861/work",
  "shap==0.47.1"
]